sounds/strike_end.wav filter=lfs diff=lfs merge=lfs -text
sounds/tick_tock-var1.wav filter=lfs diff=lfs merge=lfs -text
sounds/tick_tock-var2.wav filter=lfs diff=lfs merge=lfs -text
sounds/tick_tock-var3.wav filter=lfs diff=lfs merge=lfs -text
sounds/tick_tock-var4.wav filter=lfs diff=lfs merge=lfs -text
sounds/tick_tock-var5.wav filter=lfs diff=lfs merge=lfs -text
sounds/chime_start.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_09.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/suns_song.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_45.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_07.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_03.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_05.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_11.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/he_has_made_me_glad.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_01.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_02.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/god_be_with_you.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_04.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_08.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/joy_to_the_world.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/silent_night.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_15.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_30.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_06.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/christ_arose-dawn.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/christ_arose-dusk.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/count_your_blessings.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_10.wav filter=lfs diff=lfs merge=lfs -text
sounds/drafts/westminster_hr_12.wav filter=lfs diff=lfs merge=lfs -text
art/clockworth-bright.jpg filter=lfs diff=lfs merge=lfs -text
art/clockworth-petri.jpg filter=lfs diff=lfs merge=lfs -text
